.scores 

.timer {
    height: 120px;
    padding: 10px;
    background: #13293d;
    color: #fff;
    text-align: center;
  }

  .timer-text {
    padding: 10px;
  }

.start {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
}


.reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }

  .win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    height: 30px;
  }